.con1{
    text-align:center;
}
/* p{
    margin: 40px auto;
    border-radius: 20px; 0421 del -KMJ
} */
h2{
    text-align: left;
}
.title_p{
    background-color:#e3f0ff;
    width: 95%;
    height: 70px;
    line-height: 70px;
    margin-top: 13vh;
    font-size: 30px;
    border-radius: 20px;
}
.exception_p{
    width: 40%;
    height: 50px;
    line-height: 25px;
    margin: 10vh auto;
    font-size: 20px;
    font-weight: 600;
}
.check
,.cancle{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin: 20px;
    display:inline-block;
}

.check{
    background-color: #e04b4b;
}
.cancle{
    background-color: #5e5e5e;
}