.con1 /* con1안에 있는 요소를 중앙으로 배치 */
{
    text-align:center;
}
h2
{
    text-align: left; /* con1안에 있는 h2를 왼쪽으로 배치 */
    margin: 20px 0; /* 위,아래 20px 양옆 0px로 설정 */
}
.title_p /* 리스트 제목 나오는 부분 설정 */
{
    background-color:#e3f0ff;
    width: 95%;
    height: 70px; 
    line-height: 70px;
    margin-top: 13vh;
    font-size: 30px;
    border-radius: 20px;
}
.exception_p /* 주의메세지를 표시하는 부분 설정 */
{
    width: 40%;
    height: 50px;
    line-height: 25px;
    margin: 10vh auto;
    font-size: 20px;
    font-weight: 600;
}
.check
,.cancel /* 확인, 취소(a Tag)공통적인 부분 설정 */
{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin: 20px;
    display:inline-block;
}

.check /* 확인버튼 설정 */
{
    background-color: #e04b4b;
}
.cancle /* 취소버튼 설정 */
{
    background-color: #5e5e5e;
}