h2{
    margin: 20px 0;
}

.list_d1
,.list_d2
,.list_d3 {
    background-color: #E3F0FF;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
}
.list_d1{
    width: 100%;
    height: 3em;
}
.list_d2{
    width: 90%;
    height: 3em;
    display: inline-block;
    margin-left: 10px;
}
.list_d3{
    height: 15em;
}

.con_btn{
    text-align: center;
    margin-top: 20px;
}

.btn1
,.btn2{
    padding: 10px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin: 20px;
}

.btn1{
    background-color: #2F50FF;
}
.btn1:hover{
    background-color: #7b91fd;
}
.btn2{
    background-color: #5E5E5E;
}
.btn2:hover{
    background-color: #b3b3b3;
}
p{
    white-space: pre-wrap; /* 메모를 넣은 p 태그에 이 속성을 줘서 개행을 출력한다. (없으면 개행 X) */
}
