@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

body{
    background-color: #C9E2FF;
    height: 100%;
    position: relative;
}

.main{
    margin: auto;
    width: 60%;
    height: 94vh;
}

.header{
    margin-bottom: 15px;
    display: inline-block;
}

.p_con{
    background-color: rgb(247, 247, 247);
    height: 90%;
    width: 18%;
    float: left;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.con{
    margin: 50px auto;
    height: 85%;
    background-color: #fff;
    border-radius: 20px;
    padding: 28px;
    box-shadow: 0px 0px 7px 5px #0000002c;
    word-break:break-all;
}

span{
    white-space: pre-wrap;

}

.con1{
    padding: 10px 50px;
    margin-left: 50px;
    width: 70%;
    float: left;
}

a{
    text-decoration: none;
    color: black;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    color: rgb(110, 110, 110);
    position : absolute;
    bottom: 0;
    line-height: 70px;
}
