.g_con{
    text-align: center;

}

.g_con *{
    font-size: 36px;
    vertical-align: middle;
}

.d_day{
    color: #2F50FF;
}
.d_past{
    color: darkgrey;
    text-decoration: line-through;
}


.bar{
    color: rgb(109, 109, 109);
}
/* .graph{
    width: 300px;
    background-color: rgb(224, 224, 224);
    height: 15px;
    font-size: 0;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}
.per{
    width: 1%;
    height: 15px;
    background-color: rgb(59, 230, 87);
    display: inline-block;
} */
/* 0427 del - div for문 돌리는거 아니고 progress로 구현해서 필요 없어짐 */

.comp_graph{
    margin: 0 auto;
    width: 60%;
    height: 20px;
}
.comp_graph *{
    vertical-align: middle;
}
.graph{
    width: 300px;
    height: 15px;
    border-radius: 10px;
}
::-webkit-progress-bar{
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    overflow: hidden;
}
::-webkit-progress-value{
    background-color: rgb(59, 230, 87);
}
.edit_btn{
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    background-color: #2F50FF;
    float: right;
}

.edit_btn:hover{
    background-color: #6680ff;
}

.add_btn{
    padding: 10px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    background-color: #2F50FF;
    float: right;
    margin: 10px 0;
}
.add_btn:hover{
    background-color: #6680ff;
}