.clr{
    clear: both;
}

.list{
    background-color: #E3F0FF;
    border-radius: 30px;
    height: 3em;
    margin: 10px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
}
.list:hover {
    background-color: #adc3db;
}
.title{
    width: 300px;
}
.time{
    
    width: 150px;
}
.a{
    position: absolute;
    display: inline-block;
    bottom: 19%;
    left: 53%;
}

.a>*{
    font-size: 18px;
    font-weight: 800;
}
.a>*:hover{
    color: #2F50FF;
}