h2{
    margin: 20px 0;
}

.preview_img{
    max-width: 150px;
    max-height: 150px;
}
form * {
    margin: 10px;
}
.name{
    border: none;
    width: 100%;
    background-color: #E3F0FF;
    padding: 15px;
    border-radius: 20px;

}

input:focus {
    outline: 1px solid #D9D9D9;
}

.btn_con{

    text-align: center;
}

.btn_con > *{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    margin: 20px;
    display:inline-block;
}

.btn_con >button{
    border: none;
    background-color: #2F50FF
}
.btn_con > a{
    background-color: #5e5e5e;
}