.con1 {
    height: 100%;
}

/* 제목 margin */
h2 {
    margin: 20px 0;
}

/* 중앙 정렬, 위치 조정 */
form {
    height: 50%;
    text-align: center;
    position: relative;
    top: 10%;
}

/* 라벨 안보이게 */
form>label {
    display: none;
}

/* input 디자인 */
form>input {
    border: none;
    width: 100%;
    background-color: #E3F0FF;
    padding: 15px;
    border-radius: 20px;
    font-size: 15px;
}

/* input focus될때 border 색 변경 */
form>input:focus {
    outline: 1px solid #D9D9D9;
}

/* input, button 글꼴 크기 변경 */
form>input
,.buttons>button {
    font-size: 18px;
}


#goal_title {
    margin-bottom: 15px;
}

/* a태그가 inline이어서 inline block 으로 변경 */
.buttons>a {
    display: inline-block;
}

.buttons>button {
    margin-right: 50px;
}

/* 버튼, a태그 공통 디자인 */
.buttons>button
,.buttons>a {
    padding: 10px;
    width: 100px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

/* 버튼 위치 조정 */
.buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 버튼 */
.buttons>button {
background-color: #2F50FF;
}

.buttons>button:hover{
    background-color: #7b91fd;
}

.buttons>a {
    background-color: #5E5E5E
}

.buttons>a:hover {
    background-color: #979595;
}