/* 필요없는 라벨 화면에서 보이지 않게 */
.update_list_ti>label
,.update_memo>label {
    display: none;
}

.con1
,form {
    height: 100%;
}

/* h2 margin */
h2 {
    margin: 20px 0;
}

/* 제목, 시간, 메모, 라디오 버튼 밑 margin */
.update_list_ti
,.update_time
,.update_memo
,.update_radio {
    margin-bottom: 20px;
}

/* input, 메모 클릭했을 때 outline 회색으로 */
input:focus
,textarea:focus {
    outline: 1px solid #D9D9D9;
}

/* 중앙정렬 */
.update_time
,.update_radio
,.update_buttons {
    text-align: center;
}

/* input, 메모 디자인 */
.update_list_ti>input
,.update_memo>textarea {
    width: 100%;
    background-color: #E3F0FF;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

/* 글자 크기 */
.update_list_ti>input
,.update_time
,.update_memo>textarea
,.update_radio
,.update_buttons
,.update_buttons>button {
    font-size: 18px;
}

/* input 시간 디자인 */
.update_time>input {
    border: 1px solid #D9D9D9;
    width: 40px;
    height: 26px;
    padding-left: 7px;
}

/* input 시간 margin */
.update_time>label {
    margin-right: 10px;
}

.update_time>input {
    margin: 0 3px;
}

.update_time>#start_min {
    margin-right: 40px;
}

/* 메모 사이즈 조절 못하게 */
.update_memo>textarea {
    resize: none;
}

/* 라디오버튼 중앙정렬, margin */
.update_radio {
    text-align: center;
    margin-bottom: 40px;
}

.update_radio>label {
    margin-right: 40px;
}

/* button 태그 디자인, hover 속성 */
.update_buttons>button {
    padding: 10px;
    width: 100px;
    background-color: #2F50FF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
}

.update_buttons>button:hover {
    background-color: #617cff;
}

/* a태그 글자 디자인 */
.update_buttons>a {
    display: inline-block;
    font-weight: 800;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    border-radius: 5px;
}

/* 버튼들 오른쪽 margin */
.update_buttons>button
,.update_buttons>a {
    margin-right: 20px;
}

/* 버튼 색깔, hover 했을때 색깔 변경 */
.update_buttons>.canc_button {
    background-color: #5D5D5D;
}

.update_buttons>.canc_button:hover {
    background-color: #868686
}

.update_buttons>.del_button {
    background-color: #c44040;
}

.update_buttons>.del_button:hover {
    background-color: #c76161;
}
